/* 

font-family: 'Anton', sans-serif;
font-family: 'Arimo', sans-serif; 

$c1 = #1e232b   
$c2 = #b7cced   
$c3 = #eddbb7   
$c4 = #ff6b00


*/


/* BALISE GÉNERAL STYLISÉE */
* { box-sizing: border-box; }

body {
    font-size: 32px;
    font-family: 'Arimo', sans-serif;
}

h1,h2,h3 {
    color:#eddbb7;
    font-family: 'Anton', sans-serif;
}
h1 {
    font-size: 5rem;
}


/* CLASS GÉNERAL  */

.full-height {
    height: 100vh;
    background-color: #1e232b;
}
.slide {
    position: relative;
    height: 100%;
}
.section-title {
    width: fit-content;
    border-bottom:2px solid #ff6b00;
    padding-top:40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 3rem;
}
/* HEADER / PREMIERE PAGE */


header {
    background-image: url('../img/bg-header.jpg');
    background-size: cover;
    position: relative;
}
header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(30,35,43);
    background: linear-gradient(0deg, rgba(30,35,43,1) 0%, rgba(30,35,43,0.9023984593837535) 15%, rgba(0,212,255,0) 100%);
    bottom: -5px;
}
#homePage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    z-index: 3;
}
#homePage h1,#homePage h2 {
    z-index: 3;
}
#homePage h2 {
    border-bottom:2px solid #ff6b00;
    width: fit-content;
}
/* ABOUT */
/* div.about-before {
    position: relative;
}
div.about-before::before {
    content:"";
    background-color: #b7cced;
     clip-path: polygon(0 0, 0% 100%, 100% 35%);
    width: 35%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 1;
} */
div.about {
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    z-index: 2;
}
#box-about {
    height: 100%;
    display: flex;
    align-items: center;

}
div.about h2 {
    position: absolute;
    z-index: 3;
}
div.about #box-about picture {
    display: block;
    width: 40%;
}
div.about picture img {
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 50%;
    -webkit-box-shadow: -7px -7px 15px 0px rgba(30,35,43,0.6);
    -moz-box-shadow: -7px -7px 15px 0px rgba(30,35,43,0.6);
    box-shadow: -7px -7px 15px 0px rgba(30,35,43,0.6);
}
div.about article {
    color: #eddbb7;
    width: 60%;
}


/*  PORTFOLIO */

#box-portfolio {
    height: 100%;
    width: 100%;
}
#box-portfolio h2 {
    position: absolute;
    z-index: 3;
}
#box-portfolio .one-time {
    height: 100%;
}
article.slider-box {
    width: 100%;
    height: 100%;
    /* background-color: lightcoral; */
    outline:none;
    display: flex !important;
    position: relative;
}
.slider-box::focus {
    outline:none;
}
.slider-box picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    /* background-color: red; */
}
.slider-box picture::after {
    content:"";
    width: 600px;
    position: absolute;
    -webkit-box-shadow: 60px 27px 188px 46px rgba(183,204,237,1);
    -moz-box-shadow: 60px 27px 188px 46px rgba(183,204,237,1);
    box-shadow: 60px 27px 188px 46px rgba(183,204,237,1);
   transform: perspective(800px)rotateZ(0deg)rotateX(20deg)rotateY(-20deg);
   bottom: 300px;
   z-index: -1;
}
.slider-box picture img {
   max-width:70%;
   height: auto;
   perspective: 800px;
   transform: perspective(500px) rotateY(30deg);
   position: absolute;
   right: -2.5%;
}

.slider-box .info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding:100px 15px;
}
.info-box h3 {
    width: fit-content;
    border-bottom:2px solid #ff6b00;
}
.info-box p {
    color: #eddbb7;
    max-width: 80%;
    
}
.slider-box a {
    background:#ff6b00;
    color: #eddbb7;
    padding:5px 10px;
    text-align: center;
    position: absolute;
    bottom: 80px;
    left:calc(50% - 50px);
}
.slider-box a:hover {
    text-decoration: none;
}

/* CONTACT */
.contact {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}
.contact .cv {
    position: relative;
    width:50%;
    height: 100%;
}
.contact embed {
    height:calc(100vh - 30px);
    width: 100%;
    position: absolute;
    left: 15px;
    top: 15px;
}

.contact .contact-info {
    width: 50%;
    height: 100%;
    padding:15px 70px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact .contact-info h2 {
    margin-bottom: 0;
}
.contact form {
    color:#eddbb7;
    width: 100%;
    font-family: 'Anton', sans-serif;
    display: flex;
    flex-direction: column;

}
.contact form label {
    font-size: 1.5rem;

}
.contact form .form-control {
    border:none;
    border-radius: 0;
    border:1px solid #ff6b00;
}
.contact form button {
    border:none;
    background-color: #ff6b00;
    color:#eddbb7;
    padding: 5px 15px;
    margin-top: 15px;
}
#linkToSocial {
    width: 100%;
    height: 70px;
    border-top: 1px solid #b7cced;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#linkToSocial img {
    width: 35px;
    height: 35px;
}

/* SKILLCHECK */

div.skillcheck {
    width: 80%;
    height: 100%;
    margin: auto;
}

div.skillcheck .anim-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

div.skillcheck .skills-text p {
    color: #eddbb7;
}

/* FIX BUG / OVERIDE PLUGIN  */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #eddbb7 !important;
    
}

.slick-list,.slick-track,.fp-slides, .fp-slidesContainer {
    height: 100%;
}



/* .pulse {
    margin:100px;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #cca92c;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(183,204,237,1);
    animation: pulse 2s infinite;
} */
/* .pulse:hover {
    animation: none;
} */
  

/* KEYFRAMES */

/* box-shadow: 0 0 0 rgba(183,204,237,1);
animation: pulse 2s infinite; */
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(183,204,237,1);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(183,204,237,1);
      box-shadow: 0 0 0 0 rgba(183,204,237,1);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }